/*
 * Minimal CSS for a web page displaying the Webots documentation.
 * Edit this file to integrate the documentation in your own web pages.
 */

html,
body {
  outline: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Tahoma, Arial, sans-serif;
  font-size: 14px;
}
/*
  Issue: QtWebKit or Qt font management has issues loading ttf glyphs on macOS.
  Dirty workaround: Force standards fonts in this case.
*/
.webots-doc pre, .webots-doc code, .webots-doc code > a, .webots-doc .api table, .webots-doc .api td > a  {
  font-family: monospace;
}
.webots-doc li, .webots-doc a, .webots-doc h1, .webots-doc h2, .webots-doc h3, .webots-doc p {
  font-family: "Helvetica";
}
