html,
body {
  outline:0;
  margin:0;
  padding:0;
  height:100%;
  font-family:Tahoma,Arial,sans-serif;
  font-size:14px;
}
td {
  padding-left:4px;
  padding-right:4px;
}
a {
  color:#888;
  text-decoration:none;
  outline:0;
}
a:hover {
  color:black;
  text-decoration:none;
  outline:0;
}
a:active, a:focus {
  outline:0;
  text-decoration:none;
  color:black;
}
pre {
  background:transparent;
  border:none;
  margin:0;
  padding:0;
}
code {
  padding-left:0;
  background:transparent;
  color:#444;
}
#container {
  min-height:100%;
  position:relative;
}
#header {
  margin-right:0;
  padding:0;
}
#header-login-menu {
  margin-top:6px;
  text-align:right;
  width:100%;
}
.header-menu {
  position:relative;
  top:2px;
  padding:20px;
}
.header-menu:hover {
  cursor:pointer;
}
.color-button {
  font-size:14px;
  margin:8px 20px 0 20px;
  padding:0 10px 2px;
  height:24px;
  border-radius:10px;
  border: 1px solid #45c2fc;
  font-weight:bold;
  color:white;
	box-shadow:0 0 5px #228;
	background: #45c2fc;
  background: linear-gradient(#45c2fc, #0077fc);
}
.color-button:hover {
  border: 1px solid #00acfc;
	background: #00acfc;
  background: linear-gradient(#00acfc, #006ce6);
  color:#eef;
}
.color-button:disabled {
  border: 1px solid #d4d4d4;
	background: #d4d4d4;
  background: linear-gradient(#d4d4d4, #a9a9a9);
  color:#eee;
	box-shadow:0 0 5px #333;
}
#cart_button {
  background-position: 0 0;
  background-image: url(images/shopping_cart.png), linear-gradient(#45c2fc, #0077fc);
  background-repeat: no-repeat;
  padding-left:30px;
}
#cart_button:hover {
  background-image: url(images/shopping_cart.png), linear-gradient(#00acfc, #006ce6);
}
.download-button {
  margin:8px 20px 0 20px;
  padding:0 10px 2px;
  height:24px;
  border-radius:10px;
  border: 1px solid #45c2fc;
  font-weight:bold;
  color:white;
	box-shadow:0 0 5px #228;
	background: #45c2fc;
  background: linear-gradient(#45c2fc, #0077fc);
}
.download-button:hover {
  border: 1px solid #00acfc;
	background: #00acfc;
  background: linear-gradient(#00acfc, #006ce6);
  color:#eef;
}
#header-fixed-menu {
  cursor:default;
  position:fixed;
  left:0;
  top:0;
  width:100%;
  min-width:920px;
  background-color:#444;
  background: linear-gradient(#555, #333);
  box-shadow: 0px 2px 3px rgba(0,0,0,.4);
  height:44px;
  z-index:11;
}
#header-fixed-menu a {
  color:#bbb;
}
#header-fixed-menu a:hover {
  color:white;
}
h1 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 100;
  font-size: 46px;
  color: #888;
  padding-bottom:16px;
}
h2 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 100;
  font-size: 32px;
  color: #888;
}
h3 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 100;
  font-size: 26px;
  color: #888;
}
p {
  color: #444;
  margin-left:10px;
  text-align:justify;
}
label {
  font-weight:normal;
}
input[type=checkbox], input[type=radio] {
  vertical-align: middle;
  position: relative;
  bottom: 3px;
}
ul.menu  {
  text-align: left;
  display: inline;
  margin: 0;
  padding: 0px 4px 0px 0;
  list-style: none;
}
ul.menu  li {
  display: inline-block;
  position: relative;
  padding: 5px 20px;
  cursor: pointer;
}
ul.menu li:hover {
}
ul.menu li ul {
  background: #444;
  background: linear-gradient(#555, #333);
  display: none;
  position: absolute;
  top: 30px;
  right: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left:0px;
  padding-right:0px;
  margin-left:22px;
  box-shadow: 0px 4px 5px rgba(0,0,0,.5);
  visibility: hidden;
  -webkit-transiton: opacity 1.0s;
  -moz-transition: opacity 1.0s;
  -ms-transition: opacity 1.0s;
  -o-transition: opacity 1.0s;
  transition: opacity 1.0s;
  border: solid 1px #ccc;
}
ul.menu li ul li {
  font-size:14px;
  padding:4px 8px;
  display: block;
}
ul.menu li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}
#body {
  margin:0;
  padding:0px 0px 244px 0px; /* 244 px is the height of the footer */
  width:100%;
}
.maincontent {
  padding-left:155px;
  padding-right:40px;
  min-width:920px;
  max-width:1200px;
  padding-top:60px;
  margin-top: 0;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 0;
  padding-bottom: 40px;
}
#margin-menu {
  z-index:10;
  padding:30px 10px 10px;
  margin:0;
  background:#eee;
  border-radius:20px;
  position:fixed;
  top:30px;
  left:-20px;
}
#margin-menu p {
  margin-left:20px;
}
@font-face {
	font-family:"Raleway";
	font-style:normal;
	font-weight:100;
	src:local("Raleway Thin"),local("Raleway-Thin"),url("Raleway-Thin.woff") format("woff")
}
