/**
 * Minimal CSS to display the webots documentation
 * Edit this file to integrate the documentation in your website.
 **/

html,
body {
  outline:0;
  margin:0;
  padding:0;
  height:100%;
  font-family:Tahoma,Arial,sans-serif;
  font-size:14px;
}
@font-face {
	font-family:"Raleway";
	font-style:normal;
	font-weight:100;
	src:local("Raleway Thin"),local("Raleway-Thin"),url("Raleway-Thin.woff") format("woff")
}
