html,
body {
  font-family: Tahoma,Arial,sans-serif;
  font-size: 14px;
  background-color: #ddd;
}
html, body {
  width: 100%;
  margin: 0;
  padding: 0;
}
#left {
  width: 20%;
  position: fixed;
  height: 100%;
  overflow: auto;
}
#center {
  left: 20%;
  width: 79%;
  position: fixed;
  height: 100%;
  overflow: auto;
}
#navigation, #accordion, #view {
  width: 100%;
  margin: 1em;
  padding: 1em;
}
#view, #title {
  background-color: white;
  width: 96%;
  margin: 1%;
  padding: 1%;
}
#navigation {
  background-color: white;
  text-align: center;
  table-layout: fixed;
}
#navigation td {
  white-space: nowrap;
}
#menu {
  clear: left;
}
#menu ul {
  list-style-type: none;
  padding: 0;
}
#accordion li a, #accordion li ul li a {
  padding: 0.5em;
}
#accordion li a {
  display: block;
  background: #ccc;
  border-top: 1px solid #eee;
  color: #000;
}
#accordion li a:hover {
  background: #999;
  color: #fff;
}
#accordion li ul {
  display: none;
}
#accordion li ul li a {
  background: #ececec;
  border-color: #ccc;
}
blockquote {
  border-left: 6px solid #ccc;
}
li {
  font-weight: normal;
}
li.selected {
  font-weight: bold;
}
td {
  padding-left:4px;
  padding-right:4px;
}
a.disabled {
  pointer-events: none;
  color: #ddd;
}
a {
  color: #888;
  text-decoration: none;
  outline: 0;
}
a:hover {
  color: black;
  text-decoration: none;
  outline: 0;
}
a:active, a:focus {
  outline: 0;
  text-decoration: none;
  color: black;
}
pre {
  margin: 30px;
  background-color: #eee;
}
code {
  background: transparent;
  color: #444;
}
h1, h2, h3 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 100;
  color: #888;
}
h1 {
  font-size: 46px;
  padding-bottom: 16px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 26px;
}
#titleVersion {
  font-size: 20px;
}
h4 {
  font-size: 14px;
}
.anchor-link-image {
  padding-left: 20px;
  background: url(../icons/anchor.png) left center no-repeat;
  background-size: 20px;
}
.anchor-link {
  opacity: 0;

  \-webkit-transition: opacity 0.2s ease-in-out 0.1s;
  \-moz-transition: opacity 0.2s ease-in-out 0.1s;
  \-ms-transition: opacity 0.2s ease-in-out 0.1s;
}
.anchor-header {
  position: relative;
  left: -20px;
}
figcaption:hover .anchor-link,
h1:hover .anchor-link,
h2:hover .anchor-link,
h3:hover .anchor-link,
h4:hover .anchor-link,
h5:hover .anchor-link,
h6:hover .anchor-link {
  opacity: 1;
}
p {
  color: #444;
  margin-left: 10px;
  margin-right: 10px;
  text-align: justify;
}
img {
  max-width: 100%;
}
figure {
  max-width: 80%;
  text-align: center;
  margin: 20px auto 20px auto;
}
figcaption {
  font-style: italic;
}
#view table {
  max-width: 80%; 
  margin: 20px auto 20px auto;
  text-align: left;
  color: #333;
  border-width: 1px;
  border-color: #aaa;
  border-collapse: collapse;
}
#view table th {
  border-width: 1px;
  border-style: solid;
  border-color: #ddd;
  background-color: #ddd;
}
#view table tr:hover td {
  background-color: #def;
}
#view table td {
  padding: 6px;
  border-width: 1px;
  border-style: solid;
  border-color: #ddd;
  background-color: transparent;
}
.api table {
  font-family: monospace;
  width: 80%;
}
@font-face {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 100;
	src:local("Raleway Thin"),local("Raleway-Thin"),url("Raleway-Thin.woff") format("woff")
}
