g .edgePaths .edgePath .path {
  stroke: #333;
  stroke-width:2px;
}

g .nodes .node rect,
g .nodes .node circle,
g .nodes .node ellipse,
g .nodes .node polygon {
  fill: #add8e6;
  stroke: #afafaf;
  stroke-width: 1px;
}

g .nodes .secondaryNode rect,
g .nodes .secondaryNode circle,
g .nodes .secondaryNode ellipse,
g .nodes .secondaryNode polygon {
  fill: #d3ffc9;
}

g .nodes .highlightedNode rect,
g .nodes .highlightedNode circle,
g .nodes .highlightedNode ellipse,
g .nodes .highlightedNode polygon {
  stroke: #444444;
  stroke-width:3px;
}

g .nodes .highlightedSecondaryNode rect,
g .nodes .highlightedSecondaryNode circle,
g .nodes .highlightedSecondaryNode ellipse,
g .nodes .highlightedSecondaryNode polygon {
  fill: #d3ffc9;
  stroke: #444444;
  stroke-width:3px;
}

g .clusters .cluster rect,
g .clusters .cluster circle,
g .clusters .cluster ellipse,
g .clusters .cluster polygon {
  fill: #f1f1f1 !important;  /* recommended way of mermaidjs to change these elements ... */
  stroke: #afafaf !important;
}

g foreignObject div .edgeLabel {
  background-color: #f1f1f1;
}
