/*
 * CSS for the Webots documentation.
 * All the CSS rules are applied to the 'webots-doc' container and its descendants.
 */

.webots-doc #left {
  top: 0;
  width: 20%;
  position: fixed;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.webots-doc #center {
  top: 0px;
  left: 20%;
  width: 80%;
  position: relative;
  padding-bottom: 0;
  margin-bottom: 0;
  overflow: auto;
}
.webots-doc #navigation,
.webots-doc #view,
.webots-doc #title {
  background-color: white;
  width: calc(100% - 4em);
  margin: 1em 1em 0;
  padding: 0 1em 2px 0;
  top: 0;
}
.webots-doc #navigation {
  margin: auto;
}
.webots-doc #title {
  margin-top: 0px;
  margin-left: 40px;
  padding-bottom: 0;
}
.webots-doc #view {
  margin-left: 40px;
  padding-top: 0;
  padding-bottom: 60px;
  margin-bottom: 0;
}
.webots-doc #menu {
  clear: left;
  width: calc(100% - 2em);
  margin: 1em;
  padding-bottom: 0;
  margin-bottom: 0;
  overflow-x: hidden;
}
.webots-doc #menu ul {
  list-style-type: none;
  padding: 0;
}
.webots-doc #navigation > table {
  text-align: center;
  font-size: 20px;
  margin: 0em auto 0 auto;
}
.webots-doc #accordion li a,
.webots-doc #accordion li ul li a {
  padding: 0.5em;
  overflow-x: hidden;
}
.webots-doc #accordion li a {
  display: block;
  background: #ccc;
  border-top: 1px solid #eee;
  color: #000;
}
.webots-doc #accordion li a:hover {
  background: #999;
  color: #fff;
}
.webots-doc #accordion li ul {
  display: none;
}
.webots-doc #accordion li ul li a {
  background: #ececec;
  border-color: #ccc;
}
.webots-doc blockquote {
  border-left: 6px solid #ccc;
}
.webots-doc li {
  font-weight: normal;
}
.webots-doc li.selected {
  font-weight: bold;
}
.webots-doc td {
  padding-left:4px;
  padding-right:4px;
}
.webots-doc a.disabled {
  pointer-events: none;
  color: #ddd;
}
.webots-doc a {
  color: #888;
  text-decoration: none;
  outline: 0;
}
.webots-doc a:hover {
  color: black;
  text-decoration: none;
  outline: 0;
}
.webots-doc a:active,
.webots-doc a:focus {
  outline: 0;
  text-decoration: none;
  color: black;
}
.webots-doc pre {
  margin: 30px;
  background-color: #ffeeee;
  overflow-x: auto;
}
.webots-doc code {
  background: transparent;
  color: #444;
}
.webots-doc h1,
.webots-doc h2,
.webots-doc h3 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 100;
  color: #888;
}
.webots-doc h1 {
  font-size: 46px;
  padding-bottom: 16px;
}
.webots-doc h2 {
  font-size: 32px;
}
.webots-doc h3 {
  font-size: 26px;
}
.webots-doc .release-tag {
  display: inline;
  font-size: 14px;
  color: black;
}
.webots-doc .release-tag:before {
  content: "release ";
}
.webots-doc h4 {
  font-size: 14px;
}
.webots-doc .anchor-link-image {
  padding-left: 20px;
  background: url(images/anchor.png) left center no-repeat;
  background-size: 20px;
}
.webots-doc .anchor-link {
  opacity: 0;
  \-webkit-transition: opacity 0.2s ease-in-out 0.1s;
  \-moz-transition: opacity 0.2s ease-in-out 0.1s;
  \-ms-transition: opacity 0.2s ease-in-out 0.1s;
}
.webots-doc .anchor-header {
  position: relative;
  left: -20px;
}
.webots-doc figcaption:hover .anchor-link,
.webots-doc h1:hover .anchor-link,
.webots-doc h2:hover .anchor-link,
.webots-doc h3:hover .anchor-link,
.webots-doc h4:hover .anchor-link,
.webots-doc h5:hover .anchor-link,
.webots-doc h6:hover .anchor-link {
  opacity: 1;
}
.webots-doc p {
  color: #444;
  margin-left: 10px;
  margin-right: 10px;
  text-align: justify;
}
.webots-doc img {
  max-width: 100%;
}
.webots-doc figure {
  max-width: 80%;
  text-align: center;
  margin: 20px auto 20px auto;
}
.webots-doc figcaption {
  font-style: italic;
}
.webots-doc #view table {
  max-width: 80%;
  margin: 20px auto 20px auto;
  text-align: left;
  color: #333;
  border-width: 1px;
  border-color: #aaa;
  border-collapse: collapse;
}
.webots-doc #view table th {
  border-width: 1px;
  border-style: solid;
  border-color: #ddd;
  background-color: #ddd;
}
.webots-doc #view table tr:hover td {
  background-color: #def;
}
.webots-doc #view table td {
  padding: 6px;
  border-width: 1px;
  border-style: solid;
  border-color: #ddd;
  background-color: transparent;
}
.webots-doc .api table {
  font-family: monospace;
  width: 80%;
}
